<% content_for :title do %>Thuê Phụ Kiện<% end %>

<div class="bs-callout bs-callout-warning">
  <p>Phần này dành cho các bạn đã có sẵn máy game và muốn thuê riêng phụ kiện. Nếu bạn muốn thuê máy game và phụ kiện, <%= link_to 'nhấn vào đây', dat_thue_path %>.</p>
</div>

<%= form_for @order, url: thue_phu_kien_path, method: :post, html: {id: 'new_order'} do |f| %>
  <div class="row">
    <div class="col-xs-8">
      <h1>Thuê Phụ Kiện</h1>
      <h3>Bạn hãy điền thông tin và hoàn tất đặt hàng</h3>
      <div class="well" style="margin-top: 30px;">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <div class="input-group input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <%= f.text_field :client_name, :'parsley-required' => true, class: 'form-control', placeholder: t('client_name') %>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <div class="input-group input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <%= f.text_field :phone, :'parsley-required' => true, class: 'form-control', placeholder: t('phone') %>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <div class="input-group input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <%= f.text_field :email, :'parsley-required' => true, :'parsley-type' => 'email', class: 'form-control', placeholder: t('email') %>
              </div>
            </div>
          </div>
        </div>
        <h5 class="normal">Địa Chỉ</h5>
        <div class="row" style="margin-bottom: 0;">
          <div class="col-xs-6">
            <div class="form-group">
              <div class="input-group input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                <%= f.text_field :street, :'parsley-required' => true, class: 'form-control', placeholder: t('street') %>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <%= f.collection_select :district_id, Shipping.all, 'id', 'location', {:prompt => true}, {:'parsley-required' => true, class: 'form-control', id: 'district'} %>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <input type="text" class="form-control" value="TP.HCM" disabled>
            </div>
          </div>
        </div>
        <h5 class="normal">Thế chấp</h5>
        <div class="radio">
          <label>
            <%= f.radio_button :deposit_type, Order::DEPOSIT_PASSPORT, class: 'deposit' %>
            Hộ chiếu (Passport)
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :deposit_type, Order::DEPOSIT_CASH, class: 'deposit' %>
            Tiền mặt
            <span class="help-block">Số tiền thế chấp sẽ bằng giá trị phụ kiện bạn thuê.</span>
          </label>
        </div>
        <h5 class="normal">Giao nhận phụ kiện</h5>
        <div class="radio">
          <label>
            <%= f.radio_button :delivery_method, Order::DELIVER_AT_HOME, class: 'delivery_method' %>
            Tại địa chỉ nêu trên (có phụ thu phí giao nhận theo <%= link_to 'bảng giá phí giao nhận', dich_vu_path %>)
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :delivery_method, Order::DELIVER_AT_STORE, class: 'delivery_method' %>
            Tại cửa hàng HTE
            <span class="help-block">98 Thích Quảng Đức, P.5, Q.Phú Nhuận, TP.HCM</span>
          </label>
        </div>
      </div>
      <h3>Chi Tiết Đơn Hàng</h3>
      <div class="alert alert-success"><strong>Đơn hàng từ 500.000 đồng trở lên sẽ được miễn phí giao nhận.</strong></div>
      <table class="table table-accessory">
        <tbody>
          <tr>
            <td colspan="2"><strong>Thời Gian Thuê</strong></td>
            <td colspan="4">
              <div class="form-inline">
                <%= f.select :rental_weeks, options_for_select(1..4), {include_blank: false}, {id: 'rental_weeks'} %> tuần
              </div>
            </td>
          </tr>
          <tr class="active">
            <th width="35%" colspan="2">Mục hàng</th>
            <th>Đơn giá</th>
            <th>Phí đặt cọc</th>
            <th>Số lượng</th>
            <th>Tổng tạm</th>
          </tr>
          <%= f.fields_for :items do |ff| %>
            <tr class="item">
              <td><%= image_tag ff.object.product.photo.url(:thumb), width: 70 %></td>
              <td>
                <%= ff.object.name %>
                <%= ff.hidden_field :name %>
                <%= ff.hidden_field :price %>
                <%= ff.hidden_field :cost %>
              </td>
              <td class="price" data-price="<%= ff.object.price %>" data-cost="<%= ff.object.product.cost %>"><%= number_to_formatted_currency ff.object.price %> / tuần</td>
              <td><%= number_to_formatted_currency ff.object.product.cost %></td>
              <td>
                <%= ff.select :quantity, options_for_select(0..4, ff.object.quantity), {include_blank: false}, {class: 'qty'} %>
              </td>
              <td class="total"><%= number_to_formatted_currency(ff.object.quantity * ff.object.price * f.object.rental_weeks) %></td>
            </tr>
          <% end %>
          <tr class="summary" id="subtotal">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="title"><strong>Tiền hàng</strong></td>
            <td class="price"><strong><%= number_to_formatted_currency 0 %></strong></td>
          </tr>
          <tr class="summary" id="shipping">
            <td class="no-top"></td>
            <td class="no-top"></td>
            <td class="no-top"></td>
            <td class="no-top"></td>
            <td class="title"><strong>Phí giao nhận</strong></td>
            <td class="price"><strong><%= number_to_formatted_currency 0 %></strong></td>
          </tr>
          <tr class="summary" id="total">
            <td class="no-top"></td>
            <td class="no-top"></td>
            <td class="no-top"></td>
            <td class="no-top"></td>
            <td class="title"><strong>Tổng cộng</strong></td>
            <td class="price"><strong><%= number_to_formatted_currency 0 %></strong></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <input type="submit" value="ĐẶT THUÊ" class="btn btn-success btn-lg btn-big" style="padding: 10px 60px;">
      </div>
    </div>
    <%= render 'likebox' %>
  </div>
<% end %>

<% content_for :page_js do %>
<script>
  var SHIPPING_PRICES = <%= raw Shipping.value_hash.to_json %>;
  $(function() {
    initOrder();
  });
</script>
<% end %>